# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
env/
venv/
vwnv/
ENV/

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Environment & secrets
.env
*.secret
